
	body {
	
	font-family: Arial; color : black;
	
	font-size:28px
	
	color: white;
	
	margin-left: 200px;
	
	margin-top:105px;
	
	margin-right:340px;
	
	}
	
	div{
	
	position: float left;

	h1 {
		color: #ff0000;
	}
	
