body {
	background-color: 
	font-family: Arial;
	color: white;
	margin-left: 100px;
	margin-right: 200px;
	}
div {
	border:
	background-color: 
	font-family: Arial;
	color: #1A1A1A;
	font-size:26px;
	}
	
		