body {
font-family: western, fantasy;
background-color: #A37E22;
margin-left: 10%; 
margin-right: 10%;
}

h1 {
	font-family: western, fantasy;
	color: #FBFAF8
}
h2 {
	font-size: 19;

}

 h3 {
 	font-size: 15}
	


