body{
 background-color: blue;
 font-family: verdana; color: black;
 margin-left: 240px;
 margin-top: 80px;
 margin-right: 100px;
 }
 
div{
	 border: 5xp solid purple;
	 background-color: yellow;
	 font-family: arial; color: #ADD8E6;
	 font-size: 24xp;
	 position: float left;
	 }
	 
h1{font-family: Arial; color:blue;}



	 
	 