ibody {
	background-color: green;
	font-family: Verdana;
	margine-left: 260px;
	margine-top: 85px;
	margine-right: 100px;
	}
	
div {
	border: 5px solid purple;
	background-color: yellow;
	font-family: Arial; color: #ADD8E6;
	font-size: 24px;
	position: float left;
	}
	

