body {

  font-family:times; color:black
  }
div { 
      font-family:Arial; color: #42BF23;
   font-size:24px
   }
h1 {font-family: arial; color:black;}
h2 {font-family: Arial; color:yellow;}
   width: 5%;