	
p {
	color: white;
	font-size: 20;
	font-family: arial, helvetica, sans-serif;
}
h1 {
	color: white;
	font-family: arial, helvetica, sans-serif;
	}
h2 {
	color: white;
	font-family: arial, helvetica, sans-serif;
	}
h3 {
	color: white;
	font-family: arial, helvetica, sans-serif;
	}
h4 {
	color: white;
	font-family: arial, helvetica, sans-serif;
	}
h5 {
	color: white;
	font-family: arial, helvetica, sans-serif;
	}
h6 {
	color: white;
	font-family: arial, helvetica, sans-serif;
	}	
img {
	border: 0px;
	border-width: 0px;
}


