p {
	color: #00C1FF;
}
body {
	background-image: background.jpg;
	font-family: Purisa; color: #00C1FF
	} 
	
	h1{
		font-family: chiller
		}
		
button{
	color: #00C1FF;
	background-color: #000000;


	
	}
	
