body {
  background-color: yellow body {

}
;
  font-family: Verdana;
  }
div {
  border: 5xp solid purpose;
  background-color: yellow;
  font-family: Arial; color: #ADD8E6
  font-size: 24px;
  }
  

h1{
	margin-top: 100px
	font-family;
      color: #FF0000;
    ;}
h2{
	margin-top: 100px
	font-family;
	   color: #FF0000;
	 ;}      
button{
	margin-top: 300px
      color: #FF0000;    
    ;}
