div{
	width: 850px;
	text-align: center;
	}
body{
	 background-color: black;
	 margin: 250px;
	 margin-top: 50px;
	 margin-bottom: 50px;
	 text-align: justify;
	 }
h1 {
	color: white;
	}
p {
  color: white;
  }